* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.forsta_sida {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 2fr 20%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas:
    "he he na"
    "a1 a1 a1"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.nyhetssida {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
    "he na"
    "a1 a1"
    "a2 a2"
    "a3 a3"
    "fo fo"
    ;
}

.traningsprodukter {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.traningsprogram {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.personlig_traning {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 2fr 20%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "s3 s4 s4"
    "s5 s6 s6"
    "fo fo fo"
    ;
}

header {
    grid-area: he;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(49, 49, 49);
    font-family: sans-serif;
    border: solid black 2px;
    margin: 1px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: rgb(49, 49, 49);
    align-items: center;
    width: 20%;
    transition: all 1s;
}

.navActive {
    transform: translateY(100vh);
    border: solid black 2px;
}

.navLinks li {
    list-style: none;
}

.navLinks a {
    color: orange;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#article_1 {
    grid-area: a1;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#article_2 {
    grid-area: a2;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#article_3 {
    grid-area: a3;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_1 { 
    grid-area: s1;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_2 {
    grid-area: s2;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_3{
    grid-area: s3;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_4{
    grid-area: s4;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_5{
    grid-area: s5;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

#section_6{
    grid-area: s6;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}

footer {
    grid-area: fo;
    background-color: rgb(49, 49, 49);
    color: orange;
    border: solid black 2px;
    margin: 1px;
}