* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.forsta_sida {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px 150px 50px;
    grid-template-rows: 50px 300px 500px 100px;
    grid-template-areas:
    "he he na"
    "a1 a1 a1"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.nyhetssida {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 350px 50px;
    grid-template-rows: 50px 600px 600px 600px 100px;
    grid-template-areas: 
    "he na"
    "a1 a1"
    "a2 a2"
    "a3 a3"
    "fo fo"
    ;
}

.traningsprodukter {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px 150px 50px;
    grid-template-rows: 50px 750px 100px;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.traningsprogram {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px 150px 50px;
    grid-template-rows: 50px 1500px 100px;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "fo fo fo"
    ;
}

.personlig_traning {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 200px 150px 50px;
    grid-template-rows: 50px 200px 200px 200px 100px;
    grid-template-areas: 
    "he he na"
    "s1 s2 s2"
    "s3 s4 s4"
    "s5 s6 s6"
    "fo fo fo"
    ;
}

header {
    grid-area: he;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
}

header img {
    height: 50px;
    width: auto;
}

header h1 {
    font-size: 20px;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
    border: solid orange 2px;
    margin: 1px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 50vw;
    right: -50vw;
    height: 80vh;
    top: 50px;
    background-color: white;
    align-items: center;
    transition: all 1s;
}

.navActive {
    transform: translateX(-50vw);
    border: solid black 2px;
}

.navLinks a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
}

.burger {
    margin-right: 5px;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: orange;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#article_1 {
    grid-area: a1;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
}


#article_1 img {
    width: 200px;
    height: auto;
    float: right;
    padding: 5px;
}

#article_2 {
    grid-area: a2;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
}

#article_2 img {
    width: 200px;
    height: auto;
    float: right;
    padding: 5px;
}

#article_3 {
    grid-area: a3;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
}

#article_3 img {
    width: 200px;
    height: auto;
    float: right;
    padding: 5px;
}

#section_1 { 
    grid-area: s1;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_1 h2{
    display: none;
}

#section_1 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

.forsta_sida #section_1{
    display: flex;
    justify-content: space-around;
}

.traningsprodukter #section_1 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
   }

#section_2 {
    grid-area: s2;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_2 h2{
    display: none;
}

#section_2 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

.forsta_sida #section_2 ul li {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.traningsprodukter #section_2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_3 {
    grid-area: s3;
    background-color:  white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_3 h2{
    display: none;
}

#section_3 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

#section_4 {
    grid-area: s4;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_4 h2{
    display: none;
}

#section_4 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

#section_5 {
    grid-area: s5;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_5 h2{
    display: none;
}

#section_5 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

#section_6 {
    grid-area: s6;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section_6 h2{
    display: none;
}

#section_6 img {
    height: 100px;
    width: auto;
    border: solid orange;
}

footer {
    grid-area: fo;
    background-color: white;
    color: black;
    border: solid orange 2px;
    margin: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul_foo{
    list-style: none;
    padding: 7px;
}

.ul_foo li {
    font-size: 13px;
}

ol li {
padding: 10px;
}

h2 {
    padding: 5px;
}

li {
    list-style: none;
}

p {
    padding: 5px;
}


@media screen and (min-width: 1280px) {

    .forsta_sida {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 300px 300px 100px;
        grid-template-areas:
        "he he"
        "na na"
        "a1 a1"
        "s1 s2"
        "fo fo"
        ;
    }

    .nyhetssida {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 300px 300px 300px 100px;
        grid-template-areas: 
        "he"
        "na"
        "a1"
        "a2"
        "a3"
        "fo"
        ;
    }

    .traningsprodukter {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 800px 100px;
        grid-template-areas: 
        "he he"
        "na na"
        "s1 s2"
        "fo fo"
        ;
    }

    .traningsprogram {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 1500px 100px;
        grid-template-areas:
        "he he"
        "na na"
        "s1 s2"
        "fo fo"
        ;
    }

    .personlig_traning {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 200px 200px 200px 100px;
        grid-template-areas:
        "he he"
        "na na"
        "s1 s2"
        "s3 s4"
        "s5 s6"
        "fo fo"
        ;
    }

    header img {
        height: 100px;
        width: auto;
    }

    header h1 {
        font-size: 50px;
    }

    nav {
        justify-content: center;
    }

    .navLinks{
        width: 100vw;
        height: 0vh;
        transition: none;
        flex-direction: row;
        position: static;
    }

    .burger {
        display: none;
    }

    #article_1 img {
        height: 250px;
        width: auto;
    }

    #article_2 img {
        height: 250px;
        width: auto;
    }

    #article_3 img {
        height: 250px;
        width: auto;
    }

    .traningsprodukter #section_1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .traningsprodukter #section_1 ul li{
        padding: 20px;
    }

    .forsta_sida #section_2 ul {
        display: flex;
        flex-direction: row;
    }
    
    .forsta_sida #section_2 ul li {
        padding: 10px;
    }

    .traningsprodukter #section_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .traningsprodukter #section_2 ul li {
        padding: 10px;
    }

    .forsta_sida #section_2 img {
        height: 150px;
        width: auto;
    }

    #section_1 h2{
        display: initial;
    }

    #section_2 h2{
        display: initial;
    }

    #section_3 h2{
        display: initial;
    }

    #section_4 h2{
        display: initial;
    }

    #section_5 h2{
        display: initial;
    }

    #section_6 h2{
        display: initial;
    }

    p {
        line-height: 50px;
        padding: 10px;
    }
}